button{
    font-size: 4em;
    padding: 20px;
}

.column{
    grid-area: col;
    width: 100%;
    height: 100%
}

.row{
    display: grid;
    grid-template-areas: 
        'col col';
    
    grid-template-columns: 50% 50%;
    text-align: center;
    gap: 5px;
    margin-bottom: 5px;
}

.message{
    font-size: 2em;
}

@media screen and (max-width: 1080px) {
    .row{
        grid-template-areas: 
            'col'
            'col';
        grid-template-columns: 100%;
    }
  }